                                         Loop

In [1]:
l = [1,25,50, 60]

In [2]:
#addition of 1 on evry data

l1 =[]
for i in l: 
    l1.append(i+1)
    
l1

[2, 26, 51, 61]

In [4]:
#convert all in upper case

l = ['java', 'python', 'panda']

l1 =[]
for i in l:
    l1.append(i.upper())
    
l1

['JAVA', 'PYTHON', 'PANDA']

In [11]:
# separate my list with 2 list on int and str

l = ['java',1, 'python',2.5,5,6, 'panda', 3]

l1 = []
l2 = []
for i in l :
    if type(i) == str:
        l1.append(i)
        
    else:
        l2.append(i)
        

print('String is :',  l1)
print('Numeric is :', l2)

String is : ['java', 'python', 'panda']
Numeric is : [1, 2.5, 5, 6, 3]