In [2]:
import pandas as pd

In [4]:
pip install lxml

Collecting lxml
  Downloading lxml-4.9.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (7.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.1/7.1 MB 46.9 MB/s eta 0:00:0000:0100:01
Installing collected packages: lxml
Successfully installed lxml-4.9.2
Note: you may need to restart the kernel to use updated packages.

In [36]:
s = pd.read_html("https://github.com/datasciencedojo/datasets/blob/master/titanic.csv")

In [37]:
type(s)

list

In [14]:
#converting the list in DataFrame


df = s[0]

In [16]:
df.head()

,Unnamed: 0,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,NaN,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,NaN,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,NaN,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,NaN,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,NaN,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [18]:
# pick the name of first 10 rows

df['Name'][0:10]

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

In [42]:
s = df['Name'][0:10]
s

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

In [43]:
#task is to change the index and define a new index

l = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i' ,'j']

In [50]:
s1 = pd.Series(list(s), index = l)
s1

a                              Braund, Mr. Owen Harris
b    Cumings, Mrs. John Bradley (Florence Briggs Th...
c                               Heikkinen, Miss. Laina
d         Futrelle, Mrs. Jacques Heath (Lily May Peel)
e                             Allen, Mr. William Henry
f                                     Moran, Mr. James
g                              McCarthy, Mr. Timothy J
h                       Palsson, Master. Gosta Leonard
i    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
j                  Nasser, Mrs. Nicholas (Adele Achem)
dtype: object

In [47]:
#extract the data

In [48]:
s[0]

'Braund, Mr. Owen Harris'

In [51]:
s1[0]

'Braund, Mr. Owen Harris'

In [53]:
s1['a']

'Braund, Mr. Owen Harris'

                                                    Indexing and Slicing

In [63]:
s4 = pd.Series(['a','b','c','d'], index =[1,2,3,4])

In [64]:
s5 = pd.Series(['a','e','f','g'], index =[1,2,3,4])

In [69]:
s6 = s4.append(s5)

/tmp/ipykernel_258/937876903.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s6 = s4.append(s5)

In [70]:
s6

1    a
2    b
3    c
4    d
1    a
2    e
3    f
4    g
dtype: object






Indexing
it give us all the value where index is set as 1.

In [71]:
s6[1]

1    a
1    a
dtype: object

In [72]:
s6[2]

2    b
2    e
dtype: object

'c'

Slicing : it takes the default value

In [74]:
s6[0:4]

/tmp/ipykernel_258/41819731.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  s6[0:4]

1    a
2    b
3    c
4    d
dtype: object

                                                   Arithmetic (*, +) Operation on Series

In [83]:
s7 = pd.Series([10, 20, 30, 40], index =[1,2,3,4])
s7

1    10
2    20
3    30
4    40
dtype: int64

In [82]:
s8 = pd.Series([1,2,3,4], index =[1,2,5,6])
s8

1    1
2    2
5    3
6    4
dtype: int64

In [84]:
#only multiply those values where index is same

s7 * s8

1    10.0
2    40.0
3     NaN
4     NaN
5     NaN
6     NaN
dtype: float64

In [86]:
#only Add those values where index is same

s7 + s8

1    11.0
2    22.0
3     NaN
4     NaN
5     NaN
6     NaN
dtype: float64