In [1]:
import pandas as pd
date = pd.date_range(start = '24-03-2023', end = '24-05-2023')

/tmp/ipykernel_3573/269687507.py:2: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  date = pd.date_range(start = '24-03-2023', end = '24-05-2023')

In [2]:
date

DatetimeIndex(['2023-03-24', '2023-03-25', '2023-03-26', '2023-03-27',
               '2023-03-28', '2023-03-29', '2023-03-30', '2023-03-31',
               '2023-04-01', '2023-04-02', '2023-04-03', '2023-04-04',
               '2023-04-05', '2023-04-06', '2023-04-07', '2023-04-08',
               '2023-04-09', '2023-04-10', '2023-04-11', '2023-04-12',
               '2023-04-13', '2023-04-14', '2023-04-15', '2023-04-16',
               '2023-04-17', '2023-04-18', '2023-04-19', '2023-04-20',
               '2023-04-21', '2023-04-22', '2023-04-23', '2023-04-24',
               '2023-04-25', '2023-04-26', '2023-04-27', '2023-04-28',
               '2023-04-29', '2023-04-30', '2023-05-01', '2023-05-02',
               '2023-05-03', '2023-05-04', '2023-05-05', '2023-05-06',
               '2023-05-07', '2023-05-08', '2023-05-09', '2023-05-10',
               '2023-05-11', '2023-05-12', '2023-05-13', '2023-05-14',
               '2023-05-15', '2023-05-16', '2023-05-17', '2023-05-18',
               '2023-05-19', '2023-05-20', '2023-05-21', '2023-05-22',
               '2023-05-23', '2023-05-24'],
              dtype='datetime64[ns]', freq='D')

In [3]:
df1 = pd.DataFrame({"date" : date})

In [4]:
df1

         date
0  2023-03-24
1  2023-03-25
2  2023-03-26
3  2023-03-27
4  2023-03-28
..        ...
57 2023-05-20
58 2023-05-21
59 2023-05-22
60 2023-05-23
61 2023-05-24

[62 rows x 1 columns]

                                                                convert a string to Date

In [5]:
df2 = pd.DataFrame({"date" : ['2023-05-22', '2023-05-23','2023-05-24']})

In [11]:
df2

         date
0  2023-05-22
1  2023-05-23
2  2023-05-24

In [13]:
type(df2['date'])

pandas.core.series.Series

In [14]:
#above one not in date format
#time to convert it in date format

In [7]:
df2['Updated_Date'] = pd.to_datetime(df2['date'])

In [16]:
df2

         date Updated_Date
0  2023-05-22   2023-05-22
1  2023-05-23   2023-05-23
2  2023-05-24   2023-05-24

In [18]:
df2.dtypes

date                    object
Updated_Date    datetime64[ns]
dtype: object

In [19]:
#separate month date and day

In [21]:
df2['year'] = df2['Updated_Date'].dt.year

In [22]:
df2['day'] = df2['Updated_Date'].dt.day

In [23]:
df2['motnh'] = df2['Updated_Date'].dt.month

In [24]:
df2

         date Updated_Date  year  day  motnh
0  2023-05-22   2023-05-22  2023   22      5
1  2023-05-23   2023-05-23  2023   23      5
2  2023-05-24   2023-05-24  2023   24      5

In [15]:
df2['Day'] = df2['Updated_Date'].dt.

In [16]:
df2

         date Updated_Date  Day
0  2023-05-22   2023-05-22    0
1  2023-05-23   2023-05-23    1
2  2023-05-24   2023-05-24    2