                                                            Label and Ordinal Encoding

### Label Encoding

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'color' : ["red", "green", "blue", "red", "green", "blue", "red"]})

In [3]:
from sklearn.preprocessing import LabelEncoder

In [8]:
df

   color
0    red
1  green
2   blue
3    red
4  green
5   blue
6    red

In [9]:
#create an instance of LabelEncoder

encode = LabelEncoder()

In [13]:
data = encode.fit_transform(df[['color']])

/opt/conda/lib/python3.10/site-packages/sklearn/preprocessing/_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [23]:
df_nlabel = pd.DataFrame(data)

In [24]:
df_label

   0
0  2
1  1
2  0
3  2
4  1
5  0
6  2

### ORDINAL ENCODER

In [28]:
import pandas as pd
df = pd.DataFrame({'size' : ['medium', 'small', 'medium', 'large', 'medium', 'large','medium', 'large']})
df

     size
0   small
1  medium
2   large
3  medium
4   large
5  medium
6   large

In [29]:
from sklearn.preprocessing import OrdinalEncoder

In [42]:
#create an instance of ordinal Encoder 

encoder = OrdinalEncoder(categories=[['small', 'medium', 'large']])

In [43]:
data = encoder.fit_transform(df[['size']])

In [44]:
df['size_lebel'] = data

In [45]:
df

     size  size_lebel
0   small         0.0
1  medium         1.0
2   large         2.0
3  medium         1.0
4   large         2.0
5  medium         1.0
6   large         2.0