###                                                            Handling Imbalance Dataset

In [7]:
import pandas as pd
import numpy as np

In [4]:
#set the random seed for reproductivity

np.random.seed(123)

In [25]:
#create a dataframe with 2 class

n_sample = 1000
n_ration = 0.9
n_class_0 = int(n_sample*n_ration)
n_class_1 = n_sample- n_class_0

In [26]:
n_class_0, n_class_1

(900, 100)

In [50]:
## Creation of Dataset

class_0 = pd.DataFrame({
    'feature_1' : np.random.normal(loc = 0, scale = 1, size = n_class_0),
        'feature_2' : np.random.normal(loc = 0, scale = 1, size = n_class_0),
        'target' : 0*n_class_0})

class_1 = pd.DataFrame({
        'feature_1' : np.random.normal(loc = 2, scale = 1, size = n_class_1),
        'feature_2' : np.random.normal(loc = 2, scale = 1, size = n_class_1),
        'target' : int(n_class_1/n_class_1)})

In [45]:
df = pd.concat([class_0, class_1])

In [46]:
df

    feature_1  feature_2  target
0    0.365881  -0.861858       0
1    1.217293   0.231890       0
2   -0.060080   0.056332       0
3    2.253230  -0.790055       0
4   -1.302211   0.237915       0
..        ...        ...     ...
95   3.224710   1.696198       1
96   1.121876   0.734833       1
97   3.465937   0.773605       1
98   1.371652   1.680807       1
99   0.884611   2.203957       1

[1000 rows x 3 columns]

In [49]:
df['target'].value_counts()

0    900
1    100
Name: target, dtype: int64

## UPSAMPLING

In [58]:
# find major and minor groups

df_majority = df[df['target']==0]
df_minority = df[df['target']==1]

In [56]:
df_majority.head()

   feature_1  feature_2  target
0   0.365881  -0.861858       0
1   1.217293   0.231890       0
2  -0.060080   0.056332       0
3   2.253230  -0.790055       0
4  -1.302211   0.237915       0

In [59]:
df_minority.head()

   feature_1  feature_2  target
0   2.931048   3.462308       1
1   0.899932   2.032912       1
2  -0.388657   0.289457       1
3   1.813350   0.867804       1
4   1.350685   2.517940       1

In [63]:
##Upsampling Perform

from sklearn.utils import resample

df_minority_upsample = resample(df_minority,
                               replace = True,
                               n_samples = len(df_majority))

In [65]:
#check how many values were generated. - total 900 values generated, previously it had 100

df_minority_upsample['target'].value_counts()

1    900
Name: target, dtype: int64

In [67]:
# our new perfect data frame.

df_upsampled = pd.concat([df_majority, df_minority_upsample])

In [68]:
df_upsampled['target'].value_counts()

0    900
1    900
Name: target, dtype: int64

In [71]:
df_upsampled.shape

(1800, 3)

## DOWNSAMPLING

In [72]:
#create a dataframe with 2 class

n_sample = 1000
n_ration = 0.9
n_class_0 = int(n_sample*n_ration)
n_class_1 = n_sample- n_class_0

In [73]:
## Creation of Dataset

class_0 = pd.DataFrame({
    'feature_1' : np.random.normal(loc = 0, scale = 1, size = n_class_0),
        'feature_2' : np.random.normal(loc = 0, scale = 1, size = n_class_0),
        'target' : 0*n_class_0})

class_1 = pd.DataFrame({
        'feature_1' : np.random.normal(loc = 2, scale = 1, size = n_class_1),
        'feature_2' : np.random.normal(loc = 2, scale = 1, size = n_class_1),
        'target' : int(n_class_1/n_class_1)})

In [74]:
df = pd.concat([class_0, class_1])

In [75]:
df['target'].value_counts()

0    900
1    100
Name: target, dtype: int64

In [77]:
# find major and minor groups

df_majority = df[df['target']==0]
df_minority = df[df['target']==1]

In [78]:
#downsampling majority


from sklearn.utils import resample

df_majority_downsample = resample(df_majority,
                               replace = False,
                               n_samples = len(df_minority))

In [79]:
#preparing Data

df_downsampled = pd.concat([df_minority, df_majority_downsample])

In [82]:
df_downsampled['target'].value_counts()

1    100
0    100
Name: target, dtype: int64

In [ ]:
value_counts